<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="Author" content="Paras Dhiman">
  <meta name="Description" content="MST-Bank">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2249/2249539.png" type="image/icon type">
  <title>Number Conversion</title>  

        
</head>
<body>
  <h1 style="color: red;"><mark style="color: green;">this is </mark>my test site</h1>
  <p>Hello please enter your name</p>

  <form action="/login" action="#" method="post">  

    <input type="text" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="name"  placeholder="apna Name" required/>  
    <br><br>  
    <input type="number" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" min="10" max="100" name="no"  placeholder="number" required/>
    <br> <br>
    <input type="password" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="pass"  placeholder="passeord" required/>
    <br><br>
    <input type="date" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="date"  placeholder="dob" required/>
    <br><br>
    <input type="email" style="height: 9.5%; width: 30%;" background-color: green; maxlength="20" minlength="1" name="email"  placeholder="mail" required/>
    <br><hr>
  <input type="submit" value="Enters">
  <br> <br> 
  
  </div>
  </form>

</body>
</html>